/*Selector ID*/
#contenedor {
    width: 900px;
    height: 1000px;
    background-color: rgb(230, 200, 149);
    margin: auto;
}

#cabecera {
    height: 15%;
    background-color: rgb(230, 200, 149);
    display: flex;
    justify-content: center;
    border: 2px solid rgb(230, 200, 149);
}

#barraNavegacion {
    height: 5%;
    background-color: rgb(171, 161, 134);
    border: 2px solid rgb(171, 161, 134);
}

#seccion{
    height: 64%;
    background-color: rgb(151, 158, 54);
    align-items: center;
    margin: auto;
    width: 100%;
    display: block;
}

#Aseccion{
    height: 100%;
    width: 35%;
    background-color: rgb(190, 193, 79);
    margin: auto;
    float: right;
}

#piePagina{
    height: 10%;
    background-color:  rgb(230, 200, 149);
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    margin: auto;
}


/*Selector de Clase*/
.encabezado {
    font-family: Tahoma;
    text-align: center;
    color: white;
}

.barraNavegacion {
    font-family: Tahoma;
    font-size: medium;
    color: white;
}

.pieNavegacion{
    font-family: Tahoma;
    text-align: center;
    color: white;
}

.texto{
    font-family: Arial;
    text-align: justify;
}

.resumen{
    margin: auto;
    padding: 5px;
}


/*Selector de etiqueta*/
ul{
    text-align: center;
}

li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
}

img{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 5px;
}